body {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#navbar {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  position: fixed;
  /* border: 1px solid black; */
  background-color: rgba(250,249,251,0.95);
  
  z-index: 1;
}
#navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar ul li {
  margin: 0px 18px;
  /* padding:0px 5px ; */
}

#appleicon {
  width: 20px;
}
#searchicon {
  width: 15px;
}
#bagicon {
  width: 14px;
}

#section1 {
 background-image: url(assets/hero_bts2023_startframe__f787lg06y3ue_largetall\ \(1\).jpg);
  background-position: center;
}

.s2 {
  display: flex;

  flex-direction: column;
  align-items: center;

  background-color: #f2f2f4;

  height: 80%;
}
.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 90px;
  height: 612px;
}
section div h2,
h3 {
  padding: 0px;
  margin: 0px;
}

section img {
  width: 440px;
  position: relative;
  top: 60px;
}
section h2 {
  font-size: 56px;
}
section h3 {
  font-size: 28px;
  font-weight: 400;
}
.fh2 {
  font-size: 21px;
  color: #0066cc;
  position: relative;
  top: 20px;
}
.fh2:hover {
  text-decoration: underline;
}

#section2 {
  background-image: url("assets/hero_macbook_air_15_midnight__ct0pgwizvree_largetall.jpeg");
  background-position: center;
  margin-top: 12px;
}
#section3 {
  background-image: url("assets/hero_iphone14_yellow__eun20sn4imi6_largetall.jpeg");
  background-position: center;
  margin-top: 12px;
}

#section4,
#section5,
#section6 {
  /* border: 2px solid green; */
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
  height: 65%;
}
#iphone,
#ipad,
#vision,
#watch,
#tradein,
#card {
  /* border: 2px solid yellow; */
  width: 49.3%;
  height: 96%;
  /* justify-content: space-between; */

  margin: 6px;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}
#section5,
#section6 {
  margin-top: -12px;
}
#iphone {
  background-image: url("assets/promo_iphone14pro_spring__c7pyovk04j2a_large.jpeg");
}
#ipad {
  background-image: url("assets/promo_ipadpro_refresh__evi9utuixwuq_large.jpeg");
}
#watch {
  background-image: url("assets/promo_apple_watch_series_8_spring__d9hfvufh7hyu_large.jpeg");
}
#vision {
  background-image: url("assets/promo_apple_vision_pro__f4v4zp0sum2y_large.jpeg");
}

#tradein {
  background-image: url("assets/iphone_tradein_promo__d5au3rkw5kuq_large.jpeg");
}
#card {
  background-image: url("assets/tile__cauwwcyyn9hy_large.jpeg");
}

.s3 h4,
h5,
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.s3 h4 {
  font-size: 40px;
}
.s3 h5 {
  font-size: 21px;
  font-weight: 400;
  margin-top: 5px;
}
.s3 a {
  font-size: 17px;
  position: relative;
  top: 15px;
  color: #268bea;
}
.s3 {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#chip {
  display: flex;
}
#chip img {
  width: 40px;
  position: relative;
  top: -2px;
  margin-left: 5px;
}
#ipadanchor {
  top: 10px;
}

.awhite img {
  width: 25px;
  position: relative;
  top: -4px;
  margin-right: 10px;
  left: 5px;
}
.awhite {
  display: flex;
}
.awhite h4 {
  font-size: 30px;
}
#s8 {
  font-size: small;
  letter-spacing: 2px;
  font-weight: 550;
  color: #cc2127;
}
.s9 {
  margin-top: 15px;
}
#tradein,
#card,
#vision {
  color: black;
}

#tin h4 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -2px;
}

#tin img {
  width: 35px;
  position: relative;
  left: 15px;
}
#vi {
  position: relative;
  top: 390px;
}
p,
span {
  color: #79797e;
}

#vi a {
  position: relative;
  top: 0px;
}
#section7 {
  background-color: #f2f2f4;
  display: flex;
  justify-content: center;

  height: 100%;
}
#paragraph {
  width: 52%;
  height: 100%;
}
.paragraphs {
  font-size: 12px;
}
.paragraphs a {
  text-decoration: underline;
  color: #424245;
}
#listparent {
  display: flex;
  width: 100%;
  height: 52%;

  margin-top: 20px;
}

.list {
  width: 20%;
  height: 100%;
}
.list h3 {
  font-size: 12px;
  font-weight: 600;
  color: #28282a;
}

.list ul {
  list-style: none;
  margin-top: 10px;
  padding: 0px;
  font-size: 12px;
}
.list ul li a {
  color: #59595b;
}
.list ul li {
  padding: 6px 0px;
}
#hr1 {
  margin-top: 20px;
}
#applewallet,
#Entertainment,
#about,
#foreducation,
#forhealthcare,
#forgovernment {
  margin-top: 20px;
}
#p {
  font-size: 12px;
  font-weight: 400;
}
#p a {
  color: #0066cc;
  text-decoration: underline;
}
footer span {
  font-size: 12px;
  position: relative;
}
footer {
  display: flex;
  justify-content: space-between;
}
#pf2 {
  position: relative;
  right: 140px;
  color: #28282a;
}
li:hover {
  text-decoration: underline;
}
nav ul :hover {
  text-decoration: none;
  cursor: pointer;
}

.arr1 {
  width: 7px;
  position: relative;
  top: 0px;
  margin-top: 14px;
  margin-left: 10px;
}
#section1,
#section2,
#section3,
#section4,
#section5,
#section6:hover {
  cursor: pointer;
}
.ar1 {
  display: flex;
}
#mbook,
#ip14 {
  display: flex;
}
#buy1,
#buy2 {
  margin-left: 40px;
}
.adiv {
  display: flex;
}
.adiv1 {
  display: flex;
  margin: 0px 20px;
}
.adiv1 img {
  width: 7px;
  position: relative;
  top: 0px;
  margin-top: 7px;
  margin-left: 7px;
}
.adiv1 a:hover {
  text-decoration: underline;
}

#im1 {
  position: relative;
  top: -15px;
}

/* #section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7{
  flex-wrap: wrap;
} */
